@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Parkinsans:wght@300..800&family=Quicksand:wght@300..700&display=swap');
/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
.inter-font {
  font-family: 'Parkinsans', sans-serif;
}
body {
  margin: 0;
  font-family: 'Parkinsans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


